# .env
# Enable EPL by uncommenting next line
#ENABLE_EPL=enabled
# Enable bundesliga by uncommenting the next line and getting the bundesliga_api key
#BUNDESLIGA_API= # How to get this value is in the README

# Change this to the url of your server
NEXTAUTH_URL=http://localhost:3000
# You can add support for sign in with google or sign in with github
#GOOGLE_ID=
#GOOGLE_SECRET=
#GITHUB_ID=
#GITHUB_SECRET=
# run openssl rand -base64 32 and plug the result into this
NEXTAUTH_SECRET=

MIN_UPDATE_TIME=120
MIN_UPDATE_TIME_TRANSFER=3600
BCRYPT_ROUNDS=9
# Comment SQLITE out to use mysql
SQLITE=db.db
MYSQL_HOST=localhost
MYSQL_USER=bundesliga
MYSQL_PASSWORD=password
MYSQL_DATABASE=bundesliga
BCRYPT_ROUNDS=9
# Add support for Matomo
#NEXT_PUBLIC_MATOMO_URL=
#NEXT_PUBLIC_MATOMO_SITE_ID=

# The admin user is whatever id is given, the default is no admin user, and the count starts at 1
#ADMIN=1