a {
  color: inherit;
  text-decoration: none;
}

.center {
  font-size: 10vh;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
}

.notification {
  position: fixed;
  bottom: 0;
  width: 100%;
}
