html,
body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family:'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  font-size: 10vh;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red-button {
  background-color: rgb(255, 0, 0);
  border: 2px solid black;
}

.red-button:hover {
  background-color: rgb(255, 55, 55);
}

button {
  color:white;
  background-color: rgb(0, 0, 255);
  border: 2px solid black;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(55, 55, 255);
  color: black;
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
}

button:disabled {
  background-color: rgb(100, 100, 100);
  border: 2px solid black;
}

button:disabled:hover {
  color: white;
}