.container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}
.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
}
.innerContainer div {
  width: max-content;
  text-align: center;
}
