.container {
	display: flex;
    width: 100%;
	flex-direction: row;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	margin-top: 5px;
    align-items: center;
    justify-content: space-between
}
.innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.innerContainer div {
    width: max-content;
    text-align: center;
}