name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
      SQLITE: test.db
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: "npm"
      # Installs packages
      - run: npm ci
      # Makes sure the code is formatted correctly
      - run: npm run pretty
      # Runs tests
      - run: npm run test:cli
      # Runs eslint
      - run: npm run lint
      # Builds the project
      - run: npm run build
      # Checks the db types
      - run: npm run dbtypes:check
