name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
      SQLITE: db.db
    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      # Installs packages
      - run: npm ci
      # Makes sure the code is formatted correctly
      - run: npm run pretty
      # Runs tests
      - run: npm run test
      # Runs eslint
      - run: npm run lint
      # Builds the project
      - run: npm run build
