name: Cypress

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cypress:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
      SQLITE:
        db.db
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: "npm"
      # Installs packages
      - run: npm ci
      # Tests the project with cypress
      - run: npm run start:test & npm run cypress
